In [2]:
# Lathifatul Afifah
# Latihan 4 Praxis Academy

# 2.1.2 Interactive Mode

the_world_is_flat = True
if the_world_is_flat:
    print("Be careful not to fall off!")

Be careful not to fall off!

In [3]:
# 3.1.1. Numbers

2 + 2

4

In [4]:
50 - 5*6

20

In [5]:
(50 - 5*6) / 4

5.0

In [6]:
8 / 5

1.6

In [7]:
17 / 3

5.666666666666667

In [8]:
17 // 3

5

In [9]:
17 % 3

2

In [10]:
5 ** 2

25

In [11]:
2 ** 7

128

In [12]:
width = 20
height = 5 * 9
width * height

900

In [14]:
4 * 3.75 - 1

14.0

In [15]:
tax = 12.5 / 100
price =100.50
price *tax

12.5625

In [16]:
price + _

113.0625

In [18]:
round(_, 2)

113.06

In [19]:
# 3.1.2. Strings

'spam eggs'  # single quotes

'spam eggs'

In [20]:
'doesn\'t'

"doesn't"

In [21]:
"doesn't"

"doesn't"

In [22]:
'"Yes," they said.'

'"Yes," they said.'

In [23]:
"\"Yes,\" they said."

'"Yes," they said.'

In [8]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [10]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [14]:
s = 'First line.\nSecond line.'
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [15]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [16]:
print('C:\some\name') # \n adalah line baru

C:\some
ame

In [17]:
print(r'C:\some\name') # r untuk tidak menggunakan garis baru

C:\some\name

In [19]:
print("""\
Usage: thingy [OPTIONS]
    -h                     Display this usage messsage
    -H hostname            Hostname to connect to
""")

Usage: thingy [OPTIONS]
    -h                     Display this usage messsage
    -H hostname            Hostname to connect to

In [24]:
# 3 kali 'un', digabung dengan 10 'ium'

3 * 'un' + 10 * 'ium'

'unununiumiumiumiumiumiumiumiumiumium'

In [26]:
'Py' 'thon'

'Python'

In [32]:
text = ('Put several strings within parentheses ' 'to have them joined together')
text

'Put several strings within parentheses to have them joined together'

In [35]:
prefix = ('Py')
prefix

'Py'

In [74]:
('un' * 3) + 'ium'

'unununium'

In [75]:
#  +---+---+---+---+---+---+
#  | P | y | t | h | o | n |
#  +---+---+---+---+---+---+
#  0   1   2   3   4   5   6
# -6  -5  -4  -3  -2  -1


prefix + 'thon'

'Python'

In [42]:
word = 'Python'
word [0]

'P'

In [43]:
word [5]

'n'

In [44]:
word [-1]

'n'

In [45]:
word [-2]

'o'

In [49]:
word [-6]

'P'

In [50]:
word [0:2]

'Py'

In [56]:
word[2:5]

'tho'

In [57]:
word[:2] + word[2:]

'Python'

In [76]:
word[:4] + word[1:] 
#huruf ke 4 dan seterusnya hilang +  huruf sebelum 1 hilang

'Pythython'

In [67]:
word[:2]

'Py'

In [68]:
word[4:]

'on'

In [71]:
word[-3:]

'hon'

In [77]:
'J' + word [1:]

'Jython'

In [78]:
word [:2] + 'py'

'Pypy'

In [81]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [86]:
# 3.1.3. Lists

squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [87]:
squares[0]

1

In [88]:
squares[-1]

25

In [89]:
squares[-3:] #angka sebelum -3 hilang

[9, 16, 25]

In [90]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [91]:
cubes = [1, 8, 27, 65, 125]
4 ** 3

64

In [92]:
cubes[3] = 64
cubes

[1, 8, 27, 64, 125]

In [93]:
cubes.append(216)
cubes.append(7**3)
cubes

[1, 8, 27, 64, 125, 216, 343]

In [94]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [95]:
# replace some values
letters[2:5] = ['C', 'D', 'E']  # huruf ke 2 sampai sebelum 5
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [104]:
letters[2:5] = []  # mengosongkan huruf ke 2 sampai sebelum 5
letters

['a', 'b']

In [106]:
letters[:] = []
letters

[]

In [107]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [108]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [109]:
x[0]

['a', 'b', 'c']

In [110]:
x[0][1]

'b'

In [113]:
# 3.2. First Steps Towards Programming

# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1

while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [114]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [115]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,